<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Good semantics example</title>
  </head>
  <body>
<h1>Meu título - sem semantica</h1>

<p>Essa é a primeira sessão do meu documento.</p>

<p>Eu vou adicionar outro parágrafo aqui também.</p>

<ol>
  <li>Aqui é</li>
  <li>uma lista para</li>
  <li>você ler</li>
</ol>

<h2>Meu sub-título</h2>

<p>Essa é a primeira sub sessão do meu documento. Eu adoro quando as pessoas conseguem encontrar meu conteúdo!</p>

<h2>Meu segundo sub-título</h2>

<p>Essa é a primeira sub sessão do meu documento. Eu acho que essa é mais interessante que a última.</p>

 <button>Pesquisar</button>
  <div>Pesquisar</div>
  </body>
</html>